html,body{
    height: 100%;
    background-color:aliceblue;
    position: absolute;
    width: 100%;
}
.container-fluid{
    max-height: 10px;
    position: relative ;
    background-color: aqua;
    max-width: 100%;
}
.content{
    height: inherit;
}
.row{
    height: inherit;
}
.col-12{
    background-color: bisque;
    position:absolute;
    height: 100%;
    width: 100%;
}